
.snowman{
    // background-color: gray;
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    >*{
        background-color: lightgray;
        border-radius: 40%;
        border: 3px solid gray;
    }

    // *{ display: inherit; }
    &-A{
        border-radius: 50%;
        z-index: 10;
        // -----------------

        .eyes{
            &.bullet{
                flex-direction: row;
                width: 60px;
                height: auto;
                margin: 10px;
                >*{
                    border-radius: 50%;
                }
            }
            // .left{}
            // .right{}
        }
        // -----------------

        // .nose{}
        // .mouth{}

        $w: 100px; $h: 100px;
        width: $w; height: $h;
        .shadow{ width: $w - 20; height: $h - 10; }

    }
    &-B{
        $w: 160px; $h: 130px;
        width: $w; height: $h;
        > .shadow{ width: $w - 20; height: $h - 10; }

        border-radius: 45%;
        margin-top: -20px;
        z-index: 8;

        display: flex;
        flex-flow: row;

        .bullet{ margin-left: ($w / 2) - 10 }

    }
    &-C{
        z-index: 6;
        margin-top: -20px;
        // background-color: gray;

        $w: 200px; $h: 200px;
        width: $w; height: $h;
        .shadow{ width: $w - 20; height: $h - 10; }

    }
}

.shadow{
    background-color: #fff;
    border-radius: inherit;
    z-index: 20;
}

.bullet{
    justify-content: space-evenly;
    display: flex;
    flex-flow: column nowrap;
    height: 100px;
    align-self: center;
    position: absolute;
    margin-left: 70px;
    // ---------

    > *{
        $w: 20px;
        $shadow: $w - 10;
        width: $w; height: $w;
        > .shadow{ 
            width: $shadow; 
            height: $shadow; 
            background-color: #fff; 
        }
    
        border-radius: 42%;
        background-color: black;
        z-index: 200000;
    }

}





